<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>氢燃料电池电堆流量计算器</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
  </head>
  <body>
    <header>
      <h1>氢燃料电池电堆流量计算器</h1>
    </header>
    <main>
      <section>
        <h2>简介</h2>
        <p>氢燃料电池电堆流量计算器：<br />根据输入的电堆工况参数，估算电堆进出堆的流量组分。</p>
      </section>
      <section>
        <h2>计算类型</h2>
        <ul>
          <li><a href="Air.html">01电堆空气侧</a></li>
          <li><a href="H2.html">02电堆氢气侧</a></li>
        </ul>
      </section>
    </main>
    <footer>
      <p>v1.0_20250617 </p>
    </footer>
  </body>
</html>